@use "../abstracts" as style;

.navContainer {
  background-color: var(--skin-color);
  font-size: style.$fontMedium;
  nav {
    ul {
      margin: 0px;
      display: flex;
      align-items: center;
      padding: 15px;
      li {
        list-style: none;
        a {
          position: relative;
          display: inline-block;
          text-decoration: none;
          color: style.$secondaryColor;
          margin: 0px 30px;
          &:before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background-color: style.$bgDark;
            border-radius: 4px;
            scale: 0;
            transform-origin: right;
            transition: scale 0.25s;
          }
          &:hover:before {
            scale: 1;
            transform-origin: left;
          }
        }
      }
      .contact {
        margin-left: auto;
        border: 1px solid style.$bgDark;
        background-color: style.$bgDark;
        padding: 10px 0px;
        border-radius: 20px;
        a {
          color: var(--skin-color);
          &:before {
            background-color: var(--skin-color);
          }
        }
      }
    }
  }
}
