@use "../abstracts" as style;

.navContainer {
  background-color: var(--skin-color);
  font-size: style.$fontMedium;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid style.$bgDark;
  z-index: 1;
  nav {
    ul {
      margin: 0px;
      display: flex;
      align-items: center;
      padding: 15px;
      li {
        list-style: none;
        a {
          position: relative;
          display: inline-block;
          text-decoration: none;
          color: style.$secondaryColor;
          margin: 0px 30px;
          &:before {
            @include style.buttonBeforeHover;
          }
          &:hover:before {
            @include style.buttonHover;
          }
        }
      }
      .contact {
        margin-left: auto;
        border: 1px solid style.$bgDark;
        background-color: style.$bgDark;
        padding: 10px 0px;
        border-radius: 20px;
        a {
          color: var(--skin-color);
          &:before {
            background-color: var(--skin-color);
          }
        }
      }
    }
  }
}
