@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply m-4;
    @apply cursor-pointer;
  }
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway";
  letter-spacing: 1.2px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
  overflow: auto;
}
[data-popup="tooltip"].popup-overlay {
  background: transparent;
}

.popup-content {
  max-width: 56em;
}

h1 {
  text-wrap: balance;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-left: 0.5px solid black;
}

::-webkit-scrollbar-thumb {
  border-left: 0.5px solid black;
  background: #10b981;
}

::-webkit-scrollbar-thumb:hover {
  background: #097a55;
}

.dark {
  background-color: #27272a;
}

.body-no-scroll {
  overflow: hidden;
}
