@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply m-4;
    @apply cursor-pointer;
  }
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway";
  letter-spacing: 1.2px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
  overflow: auto;
}
[data-popup="tooltip"].popup-overlay {
  background: transparent;
}

.popup-content {
  max-width: 56em;
}

h1 {
  text-wrap: balance;
}
