.homeContainer {
  height: calc(100vh - 65px);
  background-color: #3a3a3a;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.homeContainer .leftSide {
  text-align: center;
  font-weight: 600;
  font-size: 28px;
}
.homeContainer .leftSide h1,
.homeContainer .leftSide h4 {
  margin: 0px;
  color: white;
}
.homeContainer .leftSide .stroke {
  -webkit-text-stroke: 0.2px var(--skin-color);
  color: #3a3a3a;
}
.homeContainer .leftSide a {
  border: 1px solid var(--skin-color);
  background-color: var(--skin-color);
  padding: 15px;
  border-radius: 20px;
  font-size: 18px;
  text-decoration: none;
  color: #3a3a3a;
  transition: all 0.3s ease-in-out;
}
.homeContainer .leftSide a:hover {
  box-shadow: 0px 5px 15px var(--skin-color);
}
.homeContainer .rigthSide {
  height: 60vh;
  background-color: var(--skin-color);
  width: 50vh;
  border-radius: 26px;
  box-shadow: 0px 5px 15px var(--skin-color);
  display: flex;
  flex-direction: column;
}
.homeContainer .rigthSide img {
  max-width: 380px;
  max-height: 340px;
  border-radius: 50px;
  box-shadow: 0px 25px 50px 5px rgba(0, 0, 0, 0.25);
  margin: auto;
}
.homeContainer .rigthSide a {
  border: 1px solid #3a3a3a;
  background-color: #3a3a3a;
  padding: 15px 5px;
  border-radius: 20px;
  font-size: 18px;
  text-decoration: none;
  color: var(--skin-color);
  width: 180px;
  text-align: center;
  margin: auto;
  transition: all 0.3s ease-in-out;
}
.homeContainer .rigthSide a:hover {
  box-shadow: 0px 10px 22px #3a3a3a;
}

.navContainer {
  background-color: var(--skin-color);
  font-size: 17px;
}
.navContainer nav ul {
  margin: 0px;
  display: flex;
  align-items: center;
  padding: 15px;
}
.navContainer nav ul li {
  list-style: none;
}
.navContainer nav ul li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #3a3a3a;
  margin: 0px 30px;
}
.navContainer nav ul li a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #3a3a3a;
  border-radius: 4px;
  scale: 0;
  transform-origin: right;
  transition: scale 0.25s;
}
.navContainer nav ul li a:hover:before {
  scale: 1;
  transform-origin: left;
}
.navContainer nav ul .contact {
  margin-left: auto;
  border: 1px solid #3a3a3a;
  background-color: #3a3a3a;
  padding: 10px 0px;
  border-radius: 20px;
}
.navContainer nav ul .contact a {
  color: var(--skin-color);
}
.navContainer nav ul .contact a:before {
  background-color: var(--skin-color);
}

.style-switcher {
  cursor: pointer;
  position: fixed;
  right: 0;
  top: 100px;
  padding: 15px;
  width: 200px;
  border: 1px solid var(--skin-color);
  background: #3a3a3a;
  z-index: 101;
  border-radius: 5px;
  transition: all 0.5s ease;
  transform: translateX(100%);
}
.style-switcher .s-icon {
  position: absolute;
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 20px;
  background: #3a3a3a;
  color: var(--skin-color);
  right: 100%;
  border: 1px solid var(--skin-color);
  margin-right: 25px;
  cursor: pointer;
  transition: all 0.3 ease;
  border-radius: 50%;
}
.style-switcher .s-icon i {
  line-height: 40px;
}
.style-switcher .style-switcher-toggler {
  top: 0;
}
.style-switcher h4 {
  margin: 0 0 10px;
  color: var(--skin-color);
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}
.style-switcher .colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.style-switcher .colors span {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.style-switcher .color-1 {
  background: #63f7f2;
  cursor: pointer;
}
.style-switcher .color-2 {
  background: #00ff94;
  cursor: pointer;
}
.style-switcher .color-3 {
  background: #ffc700;
  cursor: pointer;
}
.style-switcher .color-4 {
  background: #bcfd59;
  cursor: pointer;
}
.style-switcher .color-5 {
  background: #f3f788;
  cursor: pointer;
}

.open {
  transform: translateX(-25px);
}

body {
  margin: 0px;
  font-family: "Inter";
}/*# sourceMappingURL=style.css.map */